# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.env
.venv
!.envrc

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json

# Node
node_modules
*.tgz

# VitePress
docs/.vitepress/cache
docs/.vitepress/dist

# Claude Code
.claude/.gitignore
.mcp.json

# Codefu
.semgrep
codefu

# Linear
.linear_project

# Temp
temp
